<div class="row">
  <div class="about">
    <div class="content">
      <div class="content-body">
        <h1 class="content-title">What is <strong>JOREN</strong> ?</h1>
        <div class="border"></div>
        <p class="content-text">「行きつけを作り、常連さん同士が繋がるSNS型WEBアプリケーション」</p>
      </div>
    </div>

    <div class="content">
      <div class="content-body">
        <h1 class="content-title">How to <strong>JOREN</strong> ?</h1>
        <div class="border"></div>
        <p class="content-text">カフェに置いてあるノートのように、<br>
        訪れた人がお店にコメントを残していくことができます。<br>
        これまでに訪れた人はどんな人がいるのか、その人にはどんなストーリーがあるのか...。</p>
      </div>
    </div>
  </div>
</div>