<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>店舗検索</strong></h4>
      </div>

      <ul>
        <li>大エリア</li>
        <li>中エリア</li>
        <li>ジャンル</li>
        <li>並び順（オススメ順/予算順）</li>
        <li>検索ボタン</li>
      </ul>
      
      <div class="panel-footer">
        <p>Powered by
          <%= link_to "http://webservice.recruit.co.jp/" do %>
            ホットペッパー Webサービス</p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>検索結果</strong></h4>
      </div>

      <table>
      </table>
    </div>
  </div>
  






<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA48kxM2xlWwFluhAtRQWfO3AkX8ZhlFnI&libraries=places"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA48kxM2xlWwFluhAtRQWfO3AkX8ZhlFnI&callback=initMap" async defer></script>
</div>
