// Place all the styles related to the CheckIns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check_in-content {
  background-color: rgba(245, 245, 245, 0.397);
}

.check_in-table {
  margin-top: 30px;
}

.check_in-comment {
  min-height: 40px;
}
