// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  margin: 50px auto 0;
  height: 400px;
  width: 600px;
}
