// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  margin-top: 70px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.397);
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-body {
  margin-top: 15px;
  width: 100%;
}

.content-title {
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

.border {
  margin: 0 auto;
  width: 30%;
  border-bottom: 3px solid #ff9029;
}

.content-text {
  margin: 25px 0;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color: #000000;
}
